.sti_container {
  position: relative;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: white;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  color: #5581ad;
  border-radius: 25px;
  /* -webkit-transition: width 0.5s; */
  /* transition: width 10s; */
}

.btn .btn-text {
  max-width: 0;
  display: inline-block;

  transition: max-width 1s;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.btn:hover .btn-text {
  max-width: 300px;
  color: #5581ad;
}

/* --- */

/* https://codepen.io/lucasfads/pen/QWwjGjv */
